.map
    svg
        width: 100%
        height: fit-content
        scale: 1
    *[data-shape="hexagon"],
    *[data-shape="triangle"],
    *[data-shape="rectangle"],
    *[data-shape="circle"]
        opacity: 0
        &.is-shown
            opacity: 1

.map__connection
    cursor: pointer

.map__station
    cursor: pointer
    position: relative

.map__colors
    display: flex
    column-gap: 5px
    margin-bottom: 16px

.map__color
    label
        border-radius: 100px
        width: 40px
        height: 40px
        overflow: hidden
        transition: all 0.3s ease
        border: 1px solid transparent
        display: block
        cursor: pointer

.map__colorinput
    display: none
    &:checked + label
        border-color: #fff
    &:not(:checked) + label
        opacity: 0.5

.map__nameInput
    input
        height: 100%
        font-size: 34px

.map__selected
    pointer-events: none

    animation: dashAnimation 1s infinite linear

@keyframes dashAnimation
    0%
        stroke-dashoffset: 0

    100%
        stroke-dashoffset: 16

.map__inputs
    position: fixed
    top: 20%
    left: 30%
    display: none
    flex-direction: column
    z-index: 2
    button
        border: 1px solid black
        border-radius: 6px
        background-color: cyan
        color: black
