.map
    svg
        width: 100%
        height: fit-content
        scale: 1
    *[data-shape="hexagon"],
    *[data-shape="triangle"],
    *[data-shape="rectangle"],
    *[data-shape="circle"]
        opacity: 0
        &.is-shown
            opacity: 1

.map__connection
    pointer-events: none

.map__station
    cursor: pointer

.map__colors
    display: flex
    column-gap: 5px
    margin-bottom: 16px

.map__color
    border-radius: 100px
    width: 40px
    height: 40px
    cursor: pointer
    border: 1px solid transparent
    transition: all 0.3s ease

.map__colorinput
    display: none
    &:checked + .map__color
        border-color: #fff
    &:not(:checked) + .map__color
        opacity: 0.5

.map__nameInput
    input
        height: 100%
        font-size: 34px

.map__inputs
    position: fixed
    top: 20%
    left: 30%
    display: none
    flex-direction: column
    z-index: 2
    button
        border: 1px solid black
        border-radius: 6px
        background-color: cyan
        color: black
