@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .map {
        *[data-shape="hexagon"],
        *[data-shape="triangle"],
        *[data-shape="rectangle"],
        *[data-shape="circle"] {
            opacity: 0;
            &.is-shown {
                opacity: 1;
            }
        }
    }

    .task-input {
        & + label {
            opacity: 0.2;
        }
        &:checked + label {
            opacity: 1;
        }
    }
}
