@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .map {
        *[data-shape="hexagon"],
        *[data-shape="triangle"],
        *[data-shape="rectangle"],
        *[data-shape="circle"] {
            opacity: 0;
            &.is-shown {
                opacity: 1;
            }
        }
    }

    .task-input {
        & + label {
            opacity: 0.2;
        }
        &:checked + label {
            opacity: 1;
        }
    }

    .card {
        @apply border border-gray-800/20 bg-gray-950/5 [backdrop-filter:blur(3px)] shadow-custom transition-shadow duration-700 ease-in-out !important;
    }

    .card-shadow {
        @apply [box-shadow:5px_5px_40px_var(--tw-shadow-color)] !important;
    }

    .card-shadow-colored {
        @apply shadow-[var(--nsl-current-color)] !important;
    }
}
