.cards {
    display: flex;
    align-items: center;
}

.cards__container {
    display: none;
    position: relative;
    &.is-show-all {
        grid-template-columns: repeat(3, 1fr);
        .card_wrapper {
            grid-column: auto;
            grid-row: auto;
        }
    }
}

.card__wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;

    grid-column: 1;
    grid-row: 1;
    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        // background-color: aqua;

        z-index: 1;
    }
}

.card {
    position: relative;
    z-index: 0;
}

.cards__selected {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    .card__wrapper {
        grid-column: auto;
        grid-row: auto;
    }
}

.cards__area {
    width: 400px;
    height: 240px;
    border: 2px dashed grey;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        border: 2px solid white;
    }
}
